@import "./variables";

.app {
  &-container {
    width: 60%;
    margin: auto;

    .tile {
      color: #fff;
      margin: 25px;
      border-radius: 5px;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
