@import "./variables";
@import "./mixins.scss";

.app {
  &-container {
    width: 60%;
    margin: auto;

    .tile {
      color: #fff;
      margin: 25px;
      border-radius: 5px;

      @include respond-to('medium') {
        margin: 10px;
      }
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
