@import './../../styles/variables';

.tile {
    &-timeline {
        display: flex;
        flex-direction: column;
        padding: 4px 0;
        min-height: 800px;
        background-color: $timeline-tile-bgcolor;

        .dot {
            height: 5px;
            width: 5px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }

        .wrapper {
            display: flex;
            flex-direction: row;
            flex: 1;
        }

        h2 {
            border-bottom: 4px solid #fff;
            margin: 10px 0;

            &.title {
                border-bottom: 0;
                text-align: center;
            }
        }

        .vertical-line {
            border-left: 4px dotted white;
        }

        .project-wrapper {
            margin: 0 25px 25px;
            border-bottom: 1px solid;
            padding-bottom: 25px;

            i {
                display: block;
            }

            &:last-child {
                border-bottom: 0;
            }
        }  

        .top {
            padding: 25px 0 25px;
            text-align: right;
            width: 50%;
            
            h2::after {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #fff;
                margin-bottom: -16px;
                margin-right: -8px
            }

            p, h4, i {
                margin: 10px 0;
                padding: 0 20px;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 25px 0 25px;
            text-align: left;
            width: 49%;

            h2::before {
                content: '';
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #fff;
                margin-bottom: -15px;
                margin-left: -8px;
            }

            p, h4, i {
                margin: 10px 0;
                padding: 0 20px;
            }

            
        }
    }
}
